<div class="row">
    <div class="col-xs-12">
        <h1>Hi! This is my {{ iteration }} practice component!</h1>

        <ol [reversed]="reversed">
            <li>One</li>
            <li>Two</li>
            <li>Three</li>
        </ol>

        <button (click)="onClick($event)">Click Me!</button>

        <p>{{ buttonText }}</p>

        <p>This button's Base URI is: {{ buttonTarget }}</p>

        <label>What's your name?</label><br>
        <input type="text" [(ngModel)]="name">
        <p *ngIf="name !== ''">You're name is {{ name }}</p>

        <p *ngFor="let click of buttonClicks; let i = index">You clicked the button {{ i + 1 }} times!</p>
    </div>
</div>